# DHIS2 Configuration
DHIS2_BASE_URL=https://dhis2.health.gov.mw/
DHIS2_USERNAME=your_username_here
DHIS2_PASSWORD=your_password_here

# Data Configuration
DHIS2_DX=jPEcKbn7jmh
DHIS2_PERIOD=202501
DHIS2_OU_LEVEL=4

# WorldPop Configuration
WORLDPOP_YEAR=2025
WORLDPOP_COUNTRY_CODE=MWI

# Shapefile paths
SHAPEFILE_PATH=./docs/data/Districts.shp
